body {
  margin: 0;
  font-family: 'Handlee','Red Hat Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f1f5f8;
}
*,::after,
::before {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}
:root{
  --main-color:#102a42;
  --main-colortwo:#c59d5f;
  --main-colorparagraph:#737d98;
}
h1{
  text-align: center;
  color: var(--main-color);
  font-weight: bold;
  margin: 4rem 0 0.5rem 0;
}
.App{
  display: grid;
  place-items: center;
}
.line{
  width:6rem;
  height:0.25rem;
  background-color: var(--main-colortwo);
  margin: 0 auto 2rem auto;
}
img{
  display: block;
  object-fit: cover;
  width: 100%;
  height: 200px;
  border:solid 0.25rem var(--main-colortwo);
  border-radius: 0.25rem;
}
.items-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width:70vw ;
  gap:4rem
}
.item{
  display: grid;
  gap: 1rem 1rem;
  max-width: 25rem;
  grid-template-columns: 200px 1fr;
}
.item-header{
  display: flex;
  justify-content: space-between;
  border-bottom: dotted 1px grey;
}
h4{
  margin-bottom: 0.5rem;
  color: var(--main-color);
}
p{
  margin-top: 1rem;
  color: var(--main-colorparagraph);
}
.price{
  color:var(--main-colortwo)
}
@media (max-width:1023px){
  .items-container{
    display: block;
  }
  img{
    width:100%;
    margin-bottom: 1rem;
  }
  .item{
    display: block;
    margin-bottom: 2rem;
  }
}
button{
  background-color: var(--main-colortwo);
  border-color: transparent;
  width: 70px;
  height: 30px;
  color: white;
  border-radius: 0.25rem;
  cursor: pointer;
}
.buttons-container{
  display: grid;
  grid-template-columns: repeat(auto-fit,70px);
  width: 100%;
  gap:1rem;
  justify-content: center;
  margin-bottom: 4rem;
}
