body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
}
:root{
  --background-color:#f1f5f8;
  --main-color:#49a6e9;
  --list:#324d7a;
  --transition:all linear 0.3s
}
*,::after,::before{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
.nav-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-header .toggler:hover,.rotate-blue{
  transform: rotate(90deg);
  color: var(--main-color);
}
.toggler{
  background-color: transparent;
  border-color: transparent;
  font-size: 40px;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: var(--transition);
}
nav{
  max-width: 90%;
  margin: 0 auto;
  padding: 1rem;
}
.nav-container{
  background-color: white;
}
ul{
  list-style-type: none;
} 
.social-links{
  display: none;
}
ul li{
  margin: 0 0.5rem;
  cursor: pointer;
  transition: all 0.3s linear;
}
.links-container{
  overflow: hidden;
  transition: var(--transition)
}
.links li a{
  color: var(--list);
  text-transform: capitalize;
  text-decoration: none;
  display: block;
  margin-bottom: 0.5rem;
}

.links li a:hover{
  color: var(--main-color);
}
@media (min-width:900px){
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .social-links{
    display: flex;
  }
  .social-links li a{
    color: var(--main-color);
  }
  ul{
    display: flex;
  }
  .toggler{
    display: none;
  }
  .links-container{
    height: auto !important;
  }
}